/* ==================== CORE APPLICATION ==================== */
.root {
	-fx-background-color: #f2f2f2;
	-fx-font-size: 24.0;
	-fx-font-family: "Open-Sans";
	-fx-text-fill: #46494c;
}

#category {
	-fx-font-weight: bold;
}

#editor, #hint, #next, #skip, #quit, #quiz {
  	-fx-background-color: #c5c3c6;
  	-fx-background-radius: 12;
}

#editor:hover, #hint:hover, #next:hover, #skip:hover, #quit:hover, #quiz:hover {
  	-fx-background-color: #d9d8da;
  	-fx-background-radius: 12;
}

#easy {
  	-fx-background-color: #91E5F6;  
  	-fx-background-radius: 12;
	-fx-text-fill: white;
}

#easy:hover {
  	-fx-background-color: #b8eef9;
  	-fx-background-radius: 12;
  	-fx-text-fill: white;
}

#easy:selected {
  	-fx-background-color: #b8eef9;
  	-fx-background-radius: 12;
	-fx-text-fill: white;
}

#medium {
   	-fx-background-color: #84D2F6;
   	-fx-background-radius: 12;
	-fx-text-fill: white;
}

#medium:hover {
	-fx-background-color:#b8e5fa;
	-fx-background-radius: 12;
	-fx-text-fill: white;
}

#medium:selected {
	-fx-background-color:#b8e5fa;
	-fx-background-radius: 12;
	-fx-text-fill: white;
}

#hard {
   	-fx-background-color: #59A5D8;
   	-fx-background-radius: 12;
  	-fx-text-fill: white;
}

#hard:hover{
	-fx-background-color:#98c7e7;
	-fx-background-radius: 12;
	-fx-text-fill: white;
}

#hard:selected{
	-fx-background-color:#98c7e7;
	-fx-background-radius: 12;
	-fx-text-fill: white;
}

#A {
	-fx-background-color:#a190f7;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#A:hover {
	-fx-background-color:#c3b7fa;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#A:selected {
	-fx-background-color:#c3b7fa;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#B {
	-fx-background-color:#889bff;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#B:hover {
	-fx-background-color:#b3bfff;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#B:selected {
	-fx-background-color:#b3bfff;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#C {
	-fx-background-color:#74b4f7;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#C:hover {
	-fx-background-color:#9fcaf9;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#C:selected {
	-fx-background-color:#9fcaf9;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#D {
	-fx-background-color:#71d4f3;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#D:hover {
	-fx-background-color:#a1e3f7;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#D:selected {
	-fx-background-color:#a1e3f7;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

.my-special-button {
    -fx-pref-height: 100.0px;
    -fx-pref-width: 400.0px;
    -fx-background-radius: 10;	 
}