/* ==================== CORE RULES ==================== */

.root {
	-fx-background-color: #f2f2f2;
	-fx-font-size: 24.0;
	-fx-font-family: "Open-Sans";
	-fx-text-fill: #46494c;
}

/* ==================== TEXT: ==================== */
#hint, #hint:hover, #next, #next:hover, #skip, #skip:hover, #quit, #quit:hover, #quiz, #quiz:hover, 
#explain, #explain:hover, #returnToMainMenu, #returnToMainMenu:hover, #reloadBackup, #reloadBackup:hover,
#addQuestion, #addQuestion:hover, #category, #category:hover, #category:select, #nextButton, 
#nextButton:hover, #nextButton:select, #editor, #editor:hover, #dropdown, #dropdown:hover, #A, #A:hover, 
#A:selected, #B, #B:hover, #B:selected, #C, #C:hover, #C:selected, #D, #D:hover, #D:selected, #correct, 
#incorrect, #hintText, #scoreMessage, #delete, #delete:hover, #solutionFieldLabel, #submit, 
#submit:hover, #textLabel, #correctAnswerLabel {
	-fx-font-weight: bold;
}

#category, #category:hover, #category:select, #nextButton, #nextButton:hover, #nextButton:select, 
#editor, #editor:hover, #dropdown, #A, #A:hover, #A:selected, #B, #B:hover, #B:selected, #C, #C:hover, 
#C:selected, #D, #D:hover, #D:selected, #delete, #delete:hover {
  	-fx-text-fill: #ffffff;
}

#staticbutton {
  	-fx-text-fill: #000000;
}

#correct {
	-fx-fill: #56E39F;
}

#incorrect {
	-fx-fill: #EF6F6C;
}

#hintText, #scoreMessage {
	-fx-fill: #F3A712;
}

#question, #solutionFieldLabel {
	-fx-font-family: "Courier New";
}

#scoreMessage, #solutionFieldLabel {
	-fx-font-size: 36.0;	
}

/* ==================== SHAPE: ==================== */

#hint, #hint:hover, #next, #next:hover, #skip, #skip:hover, #quit, #quit:hover, #quiz, #quiz:hover, 
#explain, #explain:hover, #returnToMainMenu, #returnToMainMenu:hover, #reloadBackup, #reloadBackup:hover,
#addQuestion, #addQuestion:hover, #category, #category:hover, #category:select, #nextButton, 
#nextButton:hover, #nextButton:select, #editor, #editor:hover, #dropdown, #dropdown:hover, #staticbutton,
#delete, #delete:hover, #submit, #submit:hover {
  	-fx-background-radius: 12;
}

#A, #A:hover, #A:selected, #B, #B:hover, #B:selected, #C, #C:hover, #C:selected, #D, #D:hover, 
#D:selected {
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

/* ==================== COLOR: ==================== */

#hint, #next, #skip, #quit, #quiz, #explain, #returnToMainMenu, #reloadBackup, #addQuestion, #dropdown, 
#dropdownlist, #submit {
	-fx-background-color: #c5c3c6;
}

#hint:hover, #next:hover, #skip:hover, #quit:hover, #quiz:hover, #explain:hover, #returnToMainMenu:hover, 
#reloadBackup:hover, #addQuestion:hover, #dropdown:hover, #dropdownlist:hover, #submit:hover {
  	-fx-background-color: #d9d8da;
}

#staticbutton{
	-fx-background-color: #ffffff;
}

#category{
  	-fx-background-color: #1985a1;
}

#category:hover, #category:selected{
  	-fx-background-color: #4fc6e3;
}

#nextButton {
  	-fx-background-color: #19b38a;
}

#nextButton:hover {
  	-fx-background-color: #47e5bc;
}

#editor {
	-fx-background-color: #F7D002;
}

#editor:hover {
	-fx-background-color: #F9DC47;
}

#delete {
	-fx-background-color: #EC7357
}

#delete:hover {
	-fx-background-color: #F19984;
}

#topbar {
	-fx-background-color: #597081;
}

#A {
	-fx-background-color:#a190f7;
}

#A:hover, #A:selected {
	-fx-background-color:#c3b7fa;
}

#B {
	-fx-background-color:#889bff;
}

#B:hover, #B:selected {
	-fx-background-color:#b3bfff;
}

#C {
	-fx-background-color:#74b4f7;
}

#C:hover, #C:selected {
	-fx-background-color:#9fcaf9;
}

#D {
	-fx-background-color:#71d4f3;
}

#D:hover, #D:selected {
	-fx-background-color:#a1e3f7;
}