/* ==================== CORE APPLICATION ==================== */
.root {
	-fx-background-color: #f2f2f2;
	-fx-font-size: 24.0;
	-fx-font-family: "Open-Sans";
	-fx-text-fill: #46494c;
}

#category, #category:hover, #category:select, #nextButton, #nextButton:hover, #nextButton:select, #editor, #editor:hover {
	-fx-font-weight: bold;
  	-fx-background-radius: 12.0;
  	-fx-text-fill: #ffffff;
}

#category{
  	-fx-background-color: #1985a1;
}

#category:hover, #category:selected{
  	-fx-background-color: #4fc6e3;
}

#nextButton {
  	-fx-background-color: #19b38a;
}

#nextButton:hover {
  	-fx-background-color: #47e5bc;
}

#editor {
	-fx-background-color: #EB5E55;
}

#editor:hover {
	-fx-background-color: #f2948d;
}

#hint, #next, #skip, #quit, #quiz, #explain {
  	-fx-background-color: #c5c3c6;
  	-fx-background-radius: 12;
  	-fx-font-size: 16.0;
}

#hint:hover, #next:hover, #skip:hover, #quit:hover, #quiz:hover {
  	-fx-background-color: #d9d8da;
  	-fx-background-radius: 12;
  	-fx-font-size: 16.0;
}

#A {
	-fx-background-color:#a190f7;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#A:hover {
	-fx-background-color:#c3b7fa;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#A:selected {
	-fx-background-color:#c3b7fa;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#B {
	-fx-background-color:#889bff;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#B:hover {
	-fx-background-color:#b3bfff;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#B:selected {
	-fx-background-color:#b3bfff;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#C {
	-fx-background-color:#74b4f7;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#C:hover {
	-fx-background-color:#9fcaf9;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#C:selected {
	-fx-background-color:#9fcaf9;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#D {
	-fx-background-color:#71d4f3;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#D:hover {
	-fx-background-color:#a1e3f7;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

#D:selected {
	-fx-background-color:#a1e3f7;
	-fx-background-radius: 0;
	-fx-text-fill: white;
}

.my-special-button {
    -fx-pref-height: 100.0px;
    -fx-pref-width: 400.0px;
    -fx-background-radius: 10;	 
}